@import url("//cdn.web-fonts.ge/fonts/bpg-algeti/css/bpg-algeti.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-banner-extrasquare-caps/css/bpg-banner-extrasquare-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-nino-elite-caps/css/bpg-nino-elite-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/alkdots/css/alkdots.min.css");

/* ! GENERAL */

:root {
  font-size: 18px;

  /* ** FONTS */
  --header-font: "ALKDots", sans-serif;
  --label-font: "BPG Nino Elite Caps", sans-serif;
  --subheader-font: "BPG Algeti", sans-serif;
  --output-font: "BPG Algeti", sans-serif;
  --section-header-font: "BPG Banner ExtraSquare Caps", sans-serif;
  --btn-font: "BPG Banner ExtraSquare Caps", sans-serif;

  /* ** COLORS */
  --main-color: #24a19c;
  --form-bg-color: #eef2ff;
  --output-wrapper-color: #f9f3df;
  --output-color: #f9c5d5;

  --btn-bg-color: #fff9f9;
  --btn-clear: #ff6363;
  --btn-hash: #219f94;
  --btn-copy: #1c6dd0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

@media (max-width: 600px) {
  #root {
    grid-template-columns: 1fr 8fr 1fr;
  }
}

.dummy {
  background-color: var(--main-color);
}

.main-container > * {
  margin: 20px 20px 30px 20px;
}

/* ! HEADER */

header h1 {
  font-family: var(--header-font);
  margin-bottom: 0.5em;
}

header h3 {
  font-style: italic;
  font-family: var(--subheader-font);
}

.header-wrapper {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header hr {
  border: 2px solid var(--main-color);
}

/* ! FORM */

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-section {
  background-color: var(--form-bg-color);
  border-radius: 0.3rem;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-section-header {
  width: 30%;
  border-right: 3px solid #213364;
  font-family: var(--section-header-font);
}

.form-section-header h4 {
  text-transform: uppercase;
}

.form-items {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-section input,
.form-section textarea {
  font-size: 0.7rem;
  padding: 0.3em 0.5em;
}

.form-section label {
  font-family: var(--label-font);
  font-size: 0.75rem;
  text-transform: capitalize;
}

.form-section textarea {
  height: 3rem;
  max-width: 100%;
}

.radio-wrapper {
  width: 100%;
  font-weight: 700;
}

.radio-wrapper form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.radio-item {
  width: 33%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 850px) {
  .radio-wrapper form {
    flex-direction: column;
  }

  .radio-item {
    width: 55%;
    margin: 0.5rem 0;
  }
}

.btn-section {
  background-color: var(--form-bg-color);
  border-radius: 0.3rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.btn-section .errorMsg {
  font-family: var(--section-header-font);
  font-weight: 700;
  font-size: 0.9rem;
  color: red;
  border-bottom: 2px solid red;
}

.btns-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.btn {
  cursor: pointer;
  font-family: var(--btn-font);
  font-size: 0.8rem;
  padding: 0.3em 0.6em;
  background-color: var(--btn-bg-color);
  border-radius: 0.35rem;
}

.btn-clear {
  border: 2px solid var(--btn-clear);
  color: var(--btn-clear);
}

.btn-clear:hover {
  background-color: var(--btn-clear);
  color: white;
}

.btn-hash {
  border: 2px solid var(--btn-hash);
  color: var(--btn-hash);
}

.btn-hash:hover {
  background-color: var(--btn-hash);
  color: white;
}

.btn-hash:disabled {
  opacity: 0.4;
}

/* ! OUTPUT */

.output-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  background-color: var(--output-wrapper-color);
  border-radius: 0.3rem;
}

.output-container > p {
  padding: 5px;
  font-family: var(--label-font);
}

.output-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.output {
  word-break: break-all;
  max-width: 100%;
  padding: 5px 10px;
  background-color: var(--output-color);
  font-family: var(--output-font);
}

@media (max-width: 770px) {
  .output-container {
    flex-direction: column;
    align-items: center;
  }

  .output-container p {
    text-align: center;
  }

  .output-wrapper {
    width: 100%;
    align-items: center;
  }
}

.btn-copy {
  border: 2px solid var(--btn-copy);
  color: var(--btn-copy);
}

.btn-copy:hover {
  background-color: var(--btn-copy);
  color: white;
}
